body{
  margin:0;
  font-family:Arial;
  background: linear-gradient(135deg,#002f6c,#004aad);
}

.container{
  max-width:500px;
  margin:40px auto;
  background:white;
  padding:30px;
  border-radius:15px;
}

h1{
  text-align:center;
  color:#003c8f;
}

label{
  margin-top:10px;
  display:block;
}

input, select{
  width:100%;
  padding:10px;
  margin-top:5px;
  border-radius:8px;
  border:1px solid #ccc;
}

button{
  margin-top:20px;
  width:100%;
  padding:12px;
  background:#004aad;
  color:white;
  border:none;
  border-radius:10px;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:#00337a;
}

.back{
  background:#777;
}

.hidden{
  display:none;
}

#hasil{
  margin-top:20px;
  padding:15px;
  background:#f1f7ff;
  border-radius:10px;
}
