body{
  margin:0;
  font-family:Arial;
  background: linear-gradient(135deg,#002f6c,#004aad);
}

.container{
  max-width:600px;
  margin:40px auto;
  background:white;
  padding:30px;
  border-radius:15px;
  text-align:center;
}

h1{
  color:#003c8f;
}

.kursi-container{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap:15px;
  margin:30px 0;
}

.seat{
  padding:20px;
  border-radius:10px;
  font-size:18px;
  cursor:pointer;
  color:white;
}

.free{
  background:#2196f3;
}

.taken{
  background:#e53935;
}
