body {
  margin: 0;
  height: 100vh;
  font-family: Arial;
  background: linear-gradient(180deg,#003c8f,#002a5c);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.auth-card {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.logo {
  width: 180px;
  margin-bottom: 10px;
}

.auth-card h2 {
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #004aad;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.auth-card button:hover {
  background: #00337a;
}

.auth-card span {
  color: blue;
  cursor: pointer;
}
.logo-text{
  font-size:48px;
  font-weight:bold;
  color:#ff7a00;
  margin-bottom:10px;
}
